In [2]:
import sqlite3
connect = sqlite3.connect('HW_19.db')

In [4]:
cursor = connect.cursor()
cursor.execute("""
CREATE TABLE roster (
name TEXT NOT NULL,
species TEXT NOT NULL,
age INTEGER
)
""")

In [9]:
cursor.execute("""
INSERT INTO roster values 
("Benjamin Sisko", "Human", 40),
("Jadzia Dax", "Trill", 300),
("Kira Nerys", "Bajoran", 29)
""")

In [16]:
# connect.commit()
cursor.execute('''
UPDATE roster
SET name = 'Ezri Dax'
WHERE name = 'Jadzia Dax'
''')

In [19]:
cursor.execute('''SELECT name, age  FROM roster 
               where species = 'Bajoran' ''')
rows = cursor.fetchall()
for row in rows:
    print(row)

('Kira Nerys', 29)